<%- include('./partials/head') %>

<body>

  <%- include('./partials/header') %>
  
  <main>
    <h2><%= title %></h2>
    <% if (esrb_list.length) { %>
        <ul>
            <% esrb_list.forEach((esrb) => { %>
                <li><a href="<%= esrb.url %>"><%= esrb.name %></a> 
                </li>
            <% }) %>
        </ul>
   <% } else { %>
    <p>There are no esrbs.</p>
    <% } %>
  </main>

</body>

<%- include('./partials/footer') %>