<%- include('./partials/head') %>

<body>

  <%- include('./partials/header') %>
  
  <main>
    <h2><%= esrb.name %></h2>
    <% if (esrb_games.length) { %>
    <ul>
        <% esrb_games.forEach((game) => { %>
        <li><a href="<%= game.url %>"><%= game.name %></a> | $<%= game.price %></li>
        <% }) %>
    </ul>
    <% } else { %>
    <p>There are no games in this esrb.</p>
    <% } %>
    <hr>
    <p><a href="<%= esrb.url+'/delete' %>">Delete esrb</a></p>
  </main>

</body>

<%- include('./partials/footer') %>