<%- include('./partials/head') %>

<body>

  <%- include('./partials/header') %>

  <h2><%= title %></h2>
  <main>
    <h3>Record counts</h3>
    <ul>
      <li><strong>Video games:</strong> <%= game_count %></li>
      <li><strong>Platforms:</strong> <%= platform_count %></li>
      <li><strong>Genres:</strong> <%= genre_count %></li>
      <li><strong>Esrbs:</strong> <%= esrb_count %></li>
    </ul>
  </main>
  <aside>
    <h3>Game Of The Day</h3>
    <p><%= random_game.name %></p>
  </aside>

</body>

<%- include('./partials/footer') %>