<%- include('./partials/head') %>

<body>

  <%- include('./partials/header') %>
  
  <main>
    <section>
      <h2><%= platform.name %></h2>
      <p><%= platform.description %></p>
    </section>
    <section>
      <h3>Games</h3>
      <% if (platform_games.length) { %>
        <p><strong>Delete the following games before attempting to delete this platform.</strong></p>
        <ul>
          <% platform_games.forEach((game) => { %>
            <li><a href="<%= game.url %>"><%= game.name %></a> | $<%= game.price %></li>
          <% }) %>
        </ul>
      <% } else { %>
        <p>Do you really want to delete this platform?</p>
        <form action="" method="POST">
            <div>
                <input type="hidden"
                id="platformid"
                name="platformid"
                value="<%= platform._id %>"
                >
            </div>
            <input type="submit" value="Delete">
        </form>
      <% } %>
    </section>
  </main>

</body>

<%- include('./partials/footer') %>