<%- include('./partials/head') %>

<body>

  <%- include('./partials/header') %>
  
  <main>
    <h2><%= title %></h2>
    <p><strong>Description: </strong><%= videogame.description %></p>
    <p><strong>Platforms: </strong>
        <% videogame.platform.forEach((p) => { %>
            <span><%= p.name %></span>
        <% }) %>
    </p>
    <p><strong>Genre: </strong><%= videogame.genre.name %></p>
    <p><strong>Esrb: </strong><%= videogame.esrb.name %></p>
    <p><strong>Price: </strong>$<%= videogame.price %></p>
    <p><strong>Quantity: </strong><%= videogame.quantity %></p>
    <p><strong>Release Date: </strong><%= videogame.release_date_formatted %></p>
  </main>
  <hr>
  <p><a href="<%= videogame.url+'/delete' %>">Delete video game</a></p>
  <p><a href="<%= videogame.url+'/update' %>">Update video game</a></p>

</body>

<%- include('./partials/footer') %>